{% extends "header.html" %}
{% block content %}
<div class="row medium-8 large-7 columns">
    {% for post in posts %}
    <div class="blog-post">
        <h3>{{post.title}} <small>{{post.published_date}}</small></h3>
          <img class="thumbnail" src="https://placehold.it/850x350">
          <p>{{post.text|linebreaks}}</p>
          <div class="callout">
            <ul class="menu simple">
              <li><a href="#">Author: PLACEHOLDER</a></li>
            </ul>
          </div>
        </div>
{% endfor %}
</div>
{% endblock %}
                
