{% extends "index_header.html" %}
{% block content %}
    {% load static %}
    <div class="row">
      <div class="medium-6 columns medium-push-6">
          <img class="thumbnail" src={% static 'beekeepers_2.jpeg' %}>
      </div>
      <div class="medium-6 columns medium-pull-6">
        <h2>Your Favorite Local Beekeepers</h2>
        <p>We are small-scale family beekeepers with over two decades of experience keeping bees. We are proud to share our local, raw, pure honey to the Kansas City area.</p>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <h3>Pure</h3>
        <p>Our honey is completely unadulterated.</p>
      </div>
      <div class="medium-4 columns">
        <h3>Raw</h3>
        <p>Our honey is unprocessed, unpasteruized, and only lightly strained.</p>
      </div>
      <div class="medium-4 columns">
        <h3>Local</h3>
        <p>Our apiriaries are located in Overland Park and South Eastern Kansas.</p>
      </div>
    </div>

    <hr>

    <div class="row column">
      <ul class="vertical medium-horizontal menu expanded text-center">
        <li><a href="#"><div class="stat">25</div><span>Years of Beekeeping</span></a></li>
        <li><a href="#"><div class="stat">12</div><span>Hives</span></a></li>
        <li><a href="#"><div class="stat">2</div><span>Apiaries</span></a></li>
        <li><a href="#"><div class="stat">4</div><span>Family Beekeepers</span></a></li>
        <li><a href="#"><div class="stat">1</div><span>Honey House</span></a></li>
      </ul>
    </div>

    <hr>


    <div class="row medium-up-3 large-up-4">
      <div class="column">
          <img class="thumbnail" src={%static 'wagon.jpeg' %}>
      </div>
      <div class="column">
          <img class="thumbnail" src={% static 'dad_suit.jpeg' %}>
      </div>
      <div class="column">
        <img class="thumbnail" src={% static 'john_suit.jpeg' %}>
      </div>
      <div class="column">
        <img class="thumbnail" src={% static 'mom_suit.jpeg' %}>
      </div>
      <div class="column">
        <img class="thumbnail" src={% static 'honeycomb.jpeg' %}>
      </div>
      <div class="column">
        <img class="thumbnail" src={% static 'john_smoker.jpeg' %}>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/550x550">
      </div>
    </div>

    <hr>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
{% endblock %}
